<%= form_for(@talk) do |f| %>
  <% if @talk.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= @talk.errors.count %>件のエラー:</h2>
      <ul>
        <% @talk.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :to_id, :value => @user.id %>
  <%= f.text_area :content,  class: "form-control content-field" %>
  <%= f.submit "送信",  class: "btn primary-btn" %>
<% end %>
